DATABASE_URL="postgres://aw3:aw3@localhost:5432/aw3"
BODY_SIZE_LIMIT=15728640
PUBLIC_TURNSTILE_SITE_KEY="1x00000000000000000000AA"
TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA"

# For production only (change the IP):
# ADMIN_MANDATORY_IP="127.0.0.1"

# If you host a Discourse forum:
# DISCOURSE_CONNECT_SECRET=""

# If you can send emails:
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_SECURE=false
EMAIL_USER=test
EMAIL_PASS=test
EMAIL_FROM=noreply@ampmod.org
