---
title: AmpMod Privacy Policy
---

**Updated on 2026-08-19.**

The AmpMod project does not sell your personal information to third parties, use it to personalise ads,
or train artificial intelligence or large language models on it. We do not have any interest in your
personal data. Please read on for more information about how your data is handled here.


## AmpMod IDE and AmpMod 3D

The AmpMod IDE and Website are completely separate (they don't even go to the same backend, which is why it loads
so fast). You can program in AmpMod without any data being collected from you. However, it will still access the
AmpMod API to check if you are logged in.

If you don't want the IDE to authenticate to AmpMod at all, block requests to `https://ampmod.org/scratch_gui_connection`
on your network. Please note that you will not be able to upload projects from the editor if this is done;
that must be done manually through the upload form.

The AmpMod IDE may store settings in your browser. These settings will never reach our servers.

Custom extensions may be able to geolocate you, record your voice, fetch external sites, and more.
Such data will never reach any servers unless the extension is malicious.

Simply loading an extension into the IDE does not mean we have to audit it. That only happens if you uploaded
your project here. You are responsible for what extensions you use in your projects.

## AmpMod.org (outside of the IDE)

This website may store cookies in your browser for the sole purposes of:

* Logging you in
* Storing what language you use on the website
* Other technical purposes

Your IP address will be stored on our servers until you log out or your session expires (after 30 days
of inactivity). This data is only used to prevent users from evading blocks.

When registering for AmpMod, we will only ask for a username, password, and an optional email. Your
username must not contain your real name. Your email will not be used to send marketing messages.

AmpMod stores a hash of your password so you can login. Since your password is hashed, we can't see
it after you register.

AmpMod uses Simple Analytics.  We chose Simple Analytics because it does not store or sell any of your
personal information. Not even your IP address is stored by them, and cookies are not used by them.
See their privacy policy at https://www.simpleanalytics.com/privacy-policy.

### For users under 13

AmpMod does not knowingly collect personal information from users under 13. If you are under 13, you should
enter a parent or guardian's email on signup instead of your own, or simply don't enter one at all.
If a user under 13 has provided personal information on AmpMod, please contact AmpMod to remove that information.

If you live in a country where the age required for us to legally collect personal information is over 13,
"13" in this section should be replaced with that age.

## Projects uploaded to the website

Projects that contain custom extensions outside of our servers will be hidden until we review such custom
extensions. After that, we will either approve the extension, storing a checksum of that extension
so future projects with that extension will be automatically approved.

We will not approve extensions that use geolocation or transmit recordings or camera images to a server.

## AmpMod app for desktop

Everything in the AmpMod IDE section applies here.

The AmpMod app may make requests to [Codeberg](https://codeberg.org) on startup to check for new releases.
You can disable this in Settings > Desktop Settings.

## Data deletion and export

You are currently unable to delete your account from the site. If you want to delete your account or export
data, see below. We will accept all requests until these features are added to the site.

## Contact

Contact <ampelc@proton.me> if you have any questions or want to delete or export any data stored on our
servers that you or your children own.