@layer theme, base, components, utilities, aw3;

@import 'tailwindcss';
@import '@fontsource-variable/geist';
@plugin '@tailwindcss/typography';
@import '@fontsource/pixelify-sans';

@theme {
	--font-pixelify: 'Pixelify Sans';
	--font-sans: 'Geist Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --color-accent: #4FA55C;          /* Base primary accent */
	--color-accent-secondary: #5DBB6C;  /* Slightly brighter and more vibrant */
	--color-accent-tertiary: #3E834A;   /* Deeper, darker shade for contrast */
	--color-accent-light: #82D18F;      /* Noticeably lighter tint */
	--color-accent-almost-light: #68C477; /* Intermediate tint between base and light */
}

@layer aw3 {
	html {
		@apply bg-neutral-50 text-black dark:bg-neutral-900 dark:text-white;
	}

	.link {
		@apply font-bold text-accent hover:underline dark:text-accent-light;
	}

	.input {
		@apply mt-1 w-full rounded border border-neutral-300 bg-white px-4 py-2 text-neutral-900 transition-all focus:ring-2 focus:ring-accent focus:outline-none dark:border-neutral-600 dark:bg-neutral-800 dark:text-white;
	}
}
