@layer theme, base, components, utilities, aw3;

@import 'tailwindcss';
@import '@fontsource-variable/inter';
@plugin '@tailwindcss/typography';
@import '@fontsource/pixelify-sans';

@theme {
	--font-pixelify: 'Pixelify Sans';
	--font-sans: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	--color-accent: #4fa55c;
	--color-accent-secondary: #3e834a;
	--color-accent-tertiary: #2b5933;
	--color-accent-light: #82d18f;
	--color-accent-almost-light: #68c477;
}

@layer aw3 {
	html {
		@apply bg-neutral-50 text-black dark:bg-neutral-900 dark:text-white;
	}

	.link {
		@apply font-bold text-accent hover:underline dark:text-accent-light;
	}

	.input {
		@apply mt-1 w-full rounded border border-neutral-300 bg-white px-4 py-2 text-neutral-900 transition-all focus:ring-2 focus:ring-accent focus:outline-none dark:border-neutral-600 dark:bg-neutral-800 dark:text-white;
	}
}
