@layer theme, base, components, utilities, aw3;

@import 'tailwindcss';
@import '@fontsource-variable/inter';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Inter Variable', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	--color-accent: hsl(143, 34%, 36%);
	--color-accent-secondary: hsl(143, 42%, 29%);
	--color-accent-tertiary: hsl(152, 48%, 24%);
	--color-accent-light: hsl(142, 35%, 71%);
	--color-accent-almost-light: hsl(132, 22%, 61%);
}

@layer aw3 {
	html {
		@apply bg-neutral-50 text-black dark:bg-neutral-950 dark:text-white;
	}

	.link {
		@apply font-bold text-accent underline hover:text-accent-secondary dark:text-accent-light dark:hover:text-accent-almost-light;
	}

	.btn {
		@apply rounded-lg bg-accent px-4 py-2 text-center text-lg font-bold text-white not-disabled:cursor-pointer not-disabled:hover:bg-accent-secondary disabled:opacity-70;
	}

	.input {
		@apply mt-1 w-full rounded border border-neutral-300 bg-white px-4 py-2 text-neutral-900 transition-all focus:ring-2 focus:ring-accent focus:outline-none dark:border-neutral-600 dark:bg-neutral-800 dark:text-white;
	}
}
