---
title: AmpMod Terms of Service
---

*Last updated: 31 March 2026*

*   This document applies to https://ampmod.org and all of its subdomains, including https://forums.ampmod.org,
    https://wiki.ampmod.org, https://extensions.ampmod.org, https://commons.ampmod.org, and https://blog.ampmod.org,
    including any future subdomains.

*   By creating an Account, you agree to be bound by these Terms. If you do not agree to these Terms, do not use AmpMod.

*   AmpMod is not affiliated with the Lifelong Kindergarten Group, Scratch Foundation, TurboWarp, or any of their other
affiliates.

*   AmpMod is not a legally registered organisation at this time, so these terms are not enforced legally. We are not lawyers.
    However, we reserve the right to ban you from the site or warn you for violations.

*   Your privacy matters to us. Please see the [Privacy Policy](/privacy) for more information.

## 1. Definitions

1.  "AmpMod" refers to the services at ampmod.org and all subdomains, including wiki.ampmod.org, forums.ampmod.org, and
    commons.ampmod.org. This does not include the "AmpMod IDE" at <https://ampmod.org/projects/editor>, but does include the
    project sharing service that it is integrated with.
2.  "Account" refers to an AmpMod account, which is needed to upload projects and add other content to the site.
3.  "Administrators", "we", or "us" refers to: a) all users with an Account on ampmod.org that has been classified as a
    "Moderator" or "Operator" on their profile; and b) any person who has administrative access to the AmpMod
    servers.

## 2. Account creation and maintenance

1.  In order to use the full feature set of AmpMod, you must register for an Account. To register for an Account,
    you must provide your username and a password. You may optionally provide an email for password resets.
    An Account is not required to view public content on AmpMod.
2.  You may not create an account if you have been previously terminated or currently suspended from AmpMod and you
    do not have permission from us to continue using AmpMod.
3.  You may not sell or transfer your Account or share it with anyone who is not in your immediate family.
4.  You may not include personal information in your Account's username, including but not limited to your real name,
    birth date, or location.
5.  For terms regarding Teacher Accounts and Managed Accounts, please see Section 4.
6.  You may manage more than 1 Account, but not to manipulate site statistics or violate Section 2.2.  
7.  You may create or link an Account with a user account on a service supported by AmpMod. By linking your Account,
    you agree to the terms of any services that you link your Account to.

## 3. "User-Generated Content"

1.  For the purposes of these Terms, "User-Generated Content" (UGC) refers to any content shared via an Account, including projects,
    studios, custom extensions and wiki pages.
2.  By publishing User-Generated Content, you agree to licence it under the
    [Creative Commons Attribution-ShareAlike 4.0 Licence](https://creativecommons.org/licenses/by-sa/4.0/legalcode.en)
    ("CC-BY-SA"). According to the deed, if you distribute others' UGC:
        *   "You must give appropriate credit, provide a link to the license,
            and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests
            the licensor endorses you or your use." (Publishing a Remix on AmpMod will automatically handle this for you.)
        *   "If you remix, transform, or build upon the material, you must
            distribute your contributions under the same license as the original."
3.  **You agree not to publish UGC that violates the [Guidelines](/guidelines), as well as content that:**
        *   Does not function in the AmpMod IDE (e.g. uses primitives that exist in a modification of the AmpMod IDE,
            but not in the vanilla version);
        *   Contains swear words, slurs, or other offensive language, or otherwise disrespects users;
        *   Shares personally identifiable information about you or any other user, including real name, location
            (beyond state-level), email address, or other contact information such as links to private messaging sites;
        *   Is illegal under the laws of your country or under any international regulation, including adult content;
        *   Infects systems with viruses, worms, or other malware;
        *   makes profit;
        *   Contains blood, gore or other disturbing material; or
        *   Contains copyrighted material that you do not have permission to use.
4.  AmpMod allows users to create their own copies of UGC and publish it as their own (a "Remix"). By publishing
    a Remix directly to AmpMod, you agree that you have made a modification to at least one area of the project.
    This does not apply to copying projects on other sites.

## 4. Educational use

1.  You may not mention your specific school, district, or other institution on AmpMod.
2.  You may not share an account with class members. You must create a new account for each one (a "Managed Account").
    AmpMod does not yet have a class management system, but this will be added soon to give you more control.
3.  You may not use an account that can create Managed Accounts (a "Teacher Account") unless you are a real educator
    (or during the site beta, someone who is testing the bare functionality of the site),
    especially not to create hundreds of accounts per minute and slow down our servers.
    [Reminds you of anything?](https://en.scratch-wiki.info/wiki/2024-10-28_Outage)

## 5. DISCLAIMER OF WARRANTY AND LIABILITY

**To the maximum extent provided by applicable laws, "AmpMod" (redefined to include the AmpMod IDE for the purposes
of this section) is provided as is, without any warranty of any kind. We are not responsible for any losses or damages
caused by any malfunction in AmpMod. YOU MAY ONLY USE AMPMOD AT YOUR OWN RISK.**

*TL;DR: If a bug in AmpMod causes you to lose your account, we won't give you any money. All your responsibility are
belong to you.*